
/* logo tamano*/
.logo img {
  max-height: 50px;
  margin-top: 10px;
  margin-right: 60%;
}
/* Reset de estilos para eliminar márgenes y rellenos predeterminados */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0px;
  }
  /* Estilos generales de la página */
  body {
    background: url(cuma.png);
    opacity: 90%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  /* Encabezado y barra de navegación */
  header {
    opacity:100% ;
    background-color: #1b8f2b;
    color: white;
    text-align: center;
    padding: 10px 0;
  }

  h1{
    padding: 16px 32px;
    background: #ffffff;
    opacity: 90%;
    border-radius: 12px;
    color: rgb(17, 16, 16);
  }

  
  nav ul {
    display: inline;
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-top: 5PX;
    margin-right: 40px;
    
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    text-shadow: 1px 1px  #000000;
    text-decoration: none;
    border-radius: 12px;
    border: none;
    cursor: pointer;

}

/* Cambio de color al pasar el mouse por encima */
.button:hover {
    background-color: #6bfa66;
}
  
  h2 {
    text-align: center;
  }
  /* Productos */
  

    /* Tamano de productos */
  .cucas{
    max-height: 150px;
  }


  
  /* Pie de página */
  footer {
    text-align: center;
    align-items: end;
    background-color: #1b8f25;
    color: white;
  }
  
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  

  
  .products-section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  

.historia{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}


/* Sección de contacto */
.contact-section {
    padding: 50px 200px;
    text-align: center;
    background-color: white;
    border-bottom: 30px #1b8f25;
    border-radius: 12px;
    margin-bottom: 20px;
    opacity: 100%;
}
.boton {
  display: inline-block;
  background-color: #ffffff;
  color: #000000;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
.product {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 12%;
  text-align: center;
  background-color: white;
  box-shadow: 10px 10px 16px rgba(61, 161, 31, 0.1);
  width: 300px;
}
.products-section2{
  display:flex;
  display: inline;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 60px ;
  
}


.boton:hover {
  background-color: #6bfa66;
  border-radius: 45px;
}
.product p {
  font-size: 0.9rem;
  color: #666;
}

.product-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #e74c3c;
}



